<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net471" />
  <package id="DynamicInterop" version="0.8.1" targetFramework="net471" />
  <package id="MahApps.Metro" version="1.6.2" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.2.0" targetFramework="net471" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net471" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net471" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net471" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="OpenCvSharp3-AnyCPU" version="3.4.1.20180319" targetFramework="net471" />
  <package id="R.NET" version="1.7.0" targetFramework="net471" />
  <package id="R.NET.Community" version="1.7.0" targetFramework="net471" />
  <package id="WindowsAzure.Storage" version="9.1.1" targetFramework="net471" />
  <package id="WpfWebcamControl" version="3.3.1" targetFramework="net471" />
</packages>